<script type="text/template" id="imsi-tmpl">
<% var addHeader = true;
_.each(callfailures, function(callfailures) { 
    if ( Modernizr.mq( "only all and (max-width: 640px)" ) ) {
        addHeader = true;
    }
    %>
	<div class="row member">
		<div class="col"><% if ( addHeader ) { %><div class="head">Event Id</div><% } %><div class="data"><%=callfailures.cause.id.eventId%></div></div>
		<div class="col"><% if ( addHeader ) { %><div class="head">Cause Code</div><% } %><div class="data"><%=callfailures.cause.id.causeCode%></div></div>
		<div class="col"><% if ( addHeader ) { %><div class="head">Description</div><% } %><div class="data"><%=callfailures.cause.description%></div></div>
	</div>
<% addHeader = false;
}); %>
</script>