<script type="text/template" id="us11-tmpl">
<% var addHeader = true;
_.each(obj, function(obj) { 
    if ( Modernizr.mq( "only all and (max-width: 640px)" ) ) {
        addHeader = true;
    }
    %>
	
	<% if ( addHeader ) { %><thead>
								<tr>
									  <th>MCC</th>
									  <th>MNC</th>
									  <th>cellID</th>
									  <th>Country</th>
									  <th>Operator</th>
									  <th>Total Call Failures</th>
								</tr>
							</thead>
							<tbody><% } %>
								<tr>
									<td><%=obj.imsi%></td>
									<td><%=obj.count%></td>
								</tr>	
<% addHeader = false;
}); %>
</script>

